codecov
pytest-django
pytest-cov
dj-database-url==0.4.2
gunicorn==19.7.1
psycopg2==2.7.3.1
whitenoise==3.3.0
django-storages==1.6.5
boto3==1.4.0
Pillow==4.2.1
Markdown==2.6.9
cloudinary==1.8.0
requests==2.18.4
graphene-django==1.3
graphene==1.4.1
singlemodeladmin==0.7
boto
feedparser==5.2.1
django-filer==1.2.8
easy-thumbnails==2.4.1
authy==2.1.5
django-phonenumber-field==1.3.0
