dj-database-url==0.4.1
Django==1.11.3
gunicorn==19.6.0
psycopg2==2.6.2
whitenoise==3.2.1
django-storages==1.5.2
boto3>=1.4.0
Pillow==3.3.1
Markdown==2.6.7
cloudinary==1.5.0
requests==2.12.5
boto
feedparser>=5.2.1