codecov==2.0.15
pytest-django==3.3.2
pytest-cov
dj-database-url==0.5
gunicorn==19.7.1
psycopg2==2.7.4
whitenoise==3.3.1
django-storages==1.6.5
boto3>=1.5
Pillow==5.0.0
Markdown==2.6.11
cloudinary==1.10.0
requests==2.18.4
graphene-django==2.0.0
graphene==2.0.1
singlemodeladmin==0.8
boto
feedparser==5.2.1
authy==2.1.5
django-phonenumber-field==2.0.0
django-taggit==0.22.2
pytz==2018.3
raven
