dj-database-url==0.4.2
Django==2.0.2
gunicorn==19.7.1
psycopg2==2.7.4
whitenoise==3.3.1
django-storages==1.6.5
boto3==1.5.26
Pillow==5.0.0
Markdown==2.6.11
cloudinary==1.10.0
requests==2.18.4
boto
feedparser==5.2.1
