codecov
pytest-django
pytest-cov
dj-database-url==0.4.2
gunicorn==19.7.1
psycopg2==2.7.1
whitenoise==3.2.1
django-storages==1.5.2
boto3>==1.4.0
Pillow==4.1.0
Markdown==2.6.7
cloudinary==1.5.0
requests==2.12.5
django-crispy-forms==1.6.1
graphene-django>=1.3
graphene>=1.4
singlemodeladmin==0.7
boto
feedparser>=5.2.1
django-filer>=1.2.7
easy-thumbnails>=2.4.1
authy>=2.1
django-phonenumber-field