{% extends 'portal/user/auth/auth_base.html' %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}

    <div class="content">
        <form method="post" action="">
            {% csrf_token %}
            <div class="card card-lock">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for errors in form.email.errors %}
                            {{ errors }}
                        {% endfor %}
                    </div>
                {% endif %}
                <h4>Enter Your Email Address</h4>
                <div class="form-group">
                    <input id="id_email" name="email" placeholder="Email Address" class="form-control">
                </div>
                <button type="submit" class="btn btn-wd">Reset Password</button>
            </div>
        </form>
    </div>

{% endblock %}