{% extends 'admin_base.html' %}
{% load staticfiles %}

{% block nav %}
    <li>
        <a data-toggle="collapse" href="#editorOverview" class="collapsed" aria-expanded="false">
            <i class="ti-user"></i>
            <p>Editor
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="editorOverview" aria-expanded="false">
            <ul class="nav">
                <li>
                    <a href="{% url 'content_home' %}">
                        <span class="sidebar-mini">MC</span>
                        <span class="sidebar-normal">Main Content</span>
                    </a>
                </li>
                    <li>
                        <a href="dashboard/stats.html">
                            <span class="sidebar-mini">CP</span>
                            <span class="sidebar-normal">Change Password</span>
                        </a>
                    </li>
                <li>
                    <a href="{% url 'meta_home' %}">
                        <span class="sidebar-mini">ME</span>
                        <span class="sidebar-normal">Meta</span>
                    </a>
                </li>
            </ul>
        </div>
        <a data-toggle="collapse" href="#userOverview" class="collapsed" aria-expanded="false">
            <i class="ti-user"></i>
            <p>User
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="userOverview" aria-expanded="false">
            <ul class="nav">
                <li>
                    <a href="{% url 'profile_home' %}">
                        <span class="sidebar-mini">UP</span>
                        <span class="sidebar-normal">Update Profile</span>
                    </a>
                </li>
                <li>
                    <a href="{% url '2fa_home' %}">
                        <span class="sidebar-mini">2FA</span>
                        <span class="sidebar-normal">Two-Factor Auth</span>
                    </a>
                </li>
                <li>
                    <a href="dashboard/stats.html">
                        <span class="sidebar-mini">CP</span>
                        <span class="sidebar-normal">Change Password</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
{% endblock %}

{% block page_title %}
    <a class="navbar-brand" href="{% url 'portal_home' %}">Portal</a>
{% endblock %}

{% block content %}

{% endblock %}