{% extends 'portal/user/user_index.html' %}
{% load staticfiles %}

{% block nav %}
    <li class="active">
        <a data-toggle="collapse" href="#userOverview" aria-expanded="true">
            <i class="ti-user"></i>
            <p>User
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse in" id="userOverview" aria-expanded="true">
            <ul class="nav">
                <li>
                    <a href="{% url 'profile_home' %}">
                        <span class="sidebar-mini">UP</span>
                        <span class="sidebar-normal">Update Profile</span>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url '2fa_home' %}">
                        <span class="sidebar-mini">2FA</span>
                        <span class="sidebar-normal">Two-Factor Auth</span>
                    </a>
                </li>
                <li>
                    <a href="dashboard/stats.html">
                        <span class="sidebar-mini">CP</span>
                        <span class="sidebar-normal">Change Password</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <form id="password_change_form" action="" method="post" novalidate="">
                {% csrf_token %}
                <div class="card-header">
                    <h4 class="card-title">
                        Change Password
                    </h4>
                    {% if pwd.non_field_errors %}
                        <p>
                        <div class="alert alert-danger">
                            {% for error in pwd.non_field_errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        </p>
                    {% endif %}
                    {% if pwd_msg.strip %}
                        <p>
                        <div class="alert alert-success">
                            <span>{{ pwd_msg }}</span>
                        </div>
                        </p>
                    {% endif %}
                </div>
                <div class="card-content">
                    <div class="form-group">
                        <label class="control-label">Current Password
                            <star>*</star>
                        </label>
                        <input class="form-control"
                               name="current_password"
                               id="id_current_password"
                               type="password"
                               required="true"
                        />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password
                            <star>*</star>
                        </label>
                        <input class="form-control"
                               name="password"
                               id="id_password"
                               type="password"
                               required="true"
                        />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Confirm Password
                            <star>*</star>
                        </label>
                        <input class="form-control"
                               name="re_password"
                               id="id_re_password"
                               type="password"
                               required="true"
                               equalTo="#id_password"
                        />
                    </div>
                    <div class="category">
                        <star>*</star>
                        Required fields
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-info btn-fill pull-right">Change Password</button>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="application/javascript">
        $().ready(function () {
            $('#password_change_form').validate();
        });
    </script>
{% endblock %}