.footer {
  height: 60px;
}

.services-block-custom{
	padding-top:110px;
    background:rgba(0,0,0,.04);
}
.services-block-custom .section-header{
	margin-bottom:110px;
}

.skills-block-custom{
	padding:110px 0;
	padding-bottom:50px;
}
.skills-block-custom .section-header{
	margin-bottom:80px;
}