{% load custom_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}"/>
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{% static 'img/favicons/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img/favicons/favicon-152.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/favicons/favicon-144.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'img/favicons/favicon-120.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/favicons/favicon-114.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{% static 'img/favicons/favicon-180.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/favicons/favicon-72.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/favicons/favicon-57.png' %}">
    <link rel="icon" href="{% static 'img/favicons/favicon-32.png' %}" sizes="32x32">

    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'img/favicons/favicon-144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}">
    <link rel="icon" sizes="192x192" href="{% static 'img/favicons/favicon-192.png' %}">

    <title>Gollahalli.com Change Log</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/editor/css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Gollahalli.com Change Log</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% for log in content reversed %}
                    {{ log.name }} <br>
                    {{ log.tag_name }} <br>
                    {{ log.body | markdown_data | safe }} <br><br>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/editor/bootstrap.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>