{% extends 'admin_base.html' %}
{% load staticfiles %}

{% block nav %}
    <li class="active">
        <a data-toggle="collapse" href="#editorOverview" aria-expanded="true">
            <i class="ti-user"></i>
            <p>Editor
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse in" id="editorOverview" aria-expanded="true">
            <ul class="nav">
                <li>
                    <a href="{% url 'content_home' %}">
                        <span class="sidebar-mini">MC</span>
                        <span class="sidebar-normal">Main Content</span>
                    </a>
                </li>
                {% if content %}

                    <li>
                        <a href="dashboard/stats.html">
                            <span class="sidebar-mini">CP</span>
                            <span class="sidebar-normal">Change Password</span>
                        </a>
                    </li>
                {% endif %}

                <li>
                    <a href="{% url 'meta_home' %}">
                        <span class="sidebar-mini">ME</span>
                        <span class="sidebar-normal">Meta</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <a data-toggle="collapse" href="#userOverview" class="collapsed" aria-expanded="false">
            <i class="ti-user"></i>
            <p>User
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="userOverview" aria-expanded="false">
            <ul class="nav">
                <li>
                    <a href="{% url 'profile_home' %}">
                        <span class="sidebar-mini">UP</span>
                        <span class="sidebar-normal">Update Profile</span>
                    </a>
                </li>
                <li>
                    <a href="{% url '2fa_home' %}">
                        <span class="sidebar-mini">2FA</span>
                        <span class="sidebar-normal">Two-Factor Auth</span>
                    </a>
                </li>
                <li>
                    <a href="dashboard/stats.html">
                        <span class="sidebar-mini">CP</span>
                        <span class="sidebar-normal">Change Password</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
{% endblock %}

{% block page_title %}
    <a class="navbar-brand" href="{% url 'editor_home' %}">Editor</a>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Summary</h4>
                <p class="category">Following pages are created.</p>
            </div>
            <div class="card-content">
                {% if not content %}
                    <p>No content added to the model. Would like to create one?</p>
                    <button class="btn btn-default btn-fill btn-wd" href="{% url 'content_home' %}">Add content</button>
                {% else %}
                    <p>
                    <h5>Main Content</h5>
                    <b>Website Name:</b> {{ content.website_name }} <br>
                    {% if content.cv %}
                        <b>CV:</b> <a href="{{ content.cv }}">Download</a><br>
                    {% endif %}
                    <b>Biography:</b> {{ content.bio }}<br>
                    <b>Website URL:</b> <a href="{{ content.url }}">{{ content.url }}</a><br>
                    <b>First Name:</b> {{ content.first_name }}<br>
                    <b>Last Name:</b> {{ content.last_name }}<br>
                    <b>Email ID:</b> {{ content.email_id }}<br>
                    <b>GitHub:</b> <a href="{{ content.github }}">{{ content.github }}</a><br>
                    <b>Twitter:</b> <a href="{{ content.twitter }}">{{ content.twitter }}</a><br>
                    <b>LinkedIn:</b> <a href="{{ content.linkedin }}">{{ content.linkedin }}</a><br>
                    {% if content.file %}
                        <b>Extra File:</b> <a href="{{ content.file }}">Download</a><br>
                    {% endif %}
                    {% if content.image %}
                        <b>Image:</b> <a href="{{ content.image }}">Download</a><br>
                    {% endif %}
                    </p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
