Order Allow,Deny 
Deny from all 

<FilesMatch "\.(css|js|html|jpg|gif|png|php|pdf)$">
Order Deny,Allow
   Allow from all
</FilesMatch>

# 1 Month for most static assets
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
    Header set Cache-Control "max-age=2592000, public"
</filesMatch>
