{% extends 'portal/user/user_index.html' %}
{% load staticfiles %}

{% block nav %}
    <li class="active">
        <a data-toggle="collapse" href="#userOverview" aria-expanded="true">
            <i class="ti-user"></i>
            <p>User
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse in" id="userOverview" aria-expanded="true">
            <ul class="nav">
                <li>
                    <a href="{% url 'profile_home' %}">
                        <span class="sidebar-mini">UP</span>
                        <span class="sidebar-normal">Update Profile</span>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url '2fa_home' %}">
                        <span class="sidebar-mini">2FA</span>
                        <span class="sidebar-normal">Two-Factor Auth</span>
                    </a>
                </li>
                <li>
                    <a href="dashboard/stats.html">
                        <span class="sidebar-mini">CP</span>
                        <span class="sidebar-normal">Change Password</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Two-Factor Authentication</h4>
                <p class="category">It's all about double security</p>
            </div>
            <div class="card-content">
                <p class="text-success">2FA is activated on your account</p>
                <p>
                    <b>Username:</b> {{ user.username }} <br>
                    <b>Authy ID:</b> {{ auth.authy_id }} <br>
                    <b>Phone Number:</b> {{ auth.phone_number }} <br>
                </p>
                <p class="text-muted">Note: You cannot change your mobile number. You need to deactivate the current one
                    and recreate a new one using a new mobile number.</p>

                <h5>Backup Code</h5>

                <button id="show" class="btn">Show Code</button>
                <p id="hide_text"></p>
                <p class="text-muted"><a href="{% url '2fa_home' options='reset_backup_codes' %}">Regenerate Backup Codes</a></p>
            </div>
        </div>

        <div class="card" data-background-color="orange">
            <div class="card-header">
                <h4 class="card-title">Danger Zone</h4>
                <p class="category">OK!</p>
            </div>
            <div class="card-content">
                <p>
                    Do you want to deactivate Two-Factor Authentication?
                </p>
                <p>
                    <a class="btn btn-danger btn-fill btn-wd" href="{% url 'delete_2fa' %}"> Yes </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="application/javascript">

        var data = "<br><pre>{% for code in auth.uuids.uuid %}{{ code }} <br>{% endfor %}</pre><div class='category'>* = Used Code</div>";

        $('#show').click(function () {

            if ($('#hide_text').is(':empty')) {
                $(this).text('Hide Code');
                $('#hide_text').html(data).slideDown('slow');
            }
            else {
                $(this).text('Show Code');
                $('#hide_text').text('');
            }
        });
    </script>
{% endblock %}