{% extends 'portal/portal_index.html' %}
{% load staticfiles %}

{% block page_title %}
    <a class="navbar-brand" href="{% url 'editor_home' %}">Editor</a>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Summary</h4>
                <p class="category">Following pages are created.</p>
            </div>
            <div class="card-content">
                {% if not content %}
                    <p>No content added to the model. Would like to create one?</p>
                    <button class="btn btn-default btn-fill btn-wd" href="{% url 'content_home' %}">Add content</button>
                {% else %}
                    <p>
                    <h5>Main Content</h5>
                    <b>Website Name:</b> {{ content.website_name }} <br>
                    {% if content.cv %}
                        <b>CV:</b> <a href="{{ content.cv }}">Download</a><br>
                    {% endif %}
                    <b>Biography:</b> {{ content.bio }}<br>
                    <b>Website URL:</b> <a href="{{ content.url }}">{{ content.url }}</a><br>
                    <b>First Name:</b> {{ content.first_name }}<br>
                    <b>Last Name:</b> {{ content.last_name }}<br>
                    <b>Email ID:</b> {{ content.email_id }}<br>
                    <b>GitHub:</b> <a href="{{ content.github }}">{{ content.github }}</a><br>
                    <b>Twitter:</b> <a href="{{ content.twitter }}">{{ content.twitter }}</a><br>
                    <b>LinkedIn:</b> <a href="{{ content.linkedin }}">{{ content.linkedin }}</a><br>
                    {% if content.file %}
                        <b>Extra File:</b> <a href="{{ content.file }}">Download</a><br>
                    {% endif %}
                    {% if content.image %}
                        <b>Image:</b> <a href="{{ content.image }}">Download</a><br>
                    {% endif %}
                    </p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
