{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}"/>
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{% static 'img/favicons/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img/favicons/favicon-152.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/favicons/favicon-144.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'img/favicons/favicon-120.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/favicons/favicon-114.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{% static 'img/favicons/favicon-180.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/favicons/favicon-72.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/favicons/favicon-57.png' %}">
    <link rel="icon" href="{% static 'img/favicons/favicon-32.png' %}" sizes="32x32">

    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'img/favicons/favicon-144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}">
    <link rel="icon" sizes="192x192" href="{% static 'img/favicons/favicon-192.png' %}">

    <title>Authenticate Login</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>

    <!-- CSS Files -->
    <link href="{% static 'css/editor/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/login/material-kit.css' %}" rel="stylesheet"/>

</head>

<body class="signup-page">
<div class="wrapper">
    <div class="header header-filter"
         style="background-size: cover; background: url('{% static 'img/header.jpg' %}') top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

                    <div class="card card-signup">
                        {% if sms == True %}
                            <div class="alert alert-success">
                                <div class="container-fluid">
                                    <div class="alert-icon">
                                        <i class="material-icons">check</i>
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                                    </button>
                                    <b>Success:</b> Authentication code sent.
                                </div>
                            </div>
                        {% elif sms != None %}
                            <div class="alert alert-danger">
                                <div class="container-fluid">
                                    <div class="alert-icon">
                                        <i class="material-icons">error_outline</i>
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                                    </button>
                                    <b>Error</b> {{ sms }}
                                </div>
                            </div>
                        {% endif %}
                        {% if form.errors %}
                            {% for key, error in form.errors.items %}
                                <p class="text-divider" style="color: red">{{ error|striptags }}</p>
                            {% endfor %}
                        {% endif %}
                        <h3 class="text-divider"><i class="material-icons">lock</i></h3>
                        <p class="text-divider">Enter the authentication code from the Authy app.</p>
                        <form class="form" method="post" action="">
                            {% csrf_token %}
                            <div class="content">

                                <div class="input-group">
										<span class="input-group-addon">
										</span>
                                    <input type="text" id="id_authy" maxlength="254" name="authy" class="form-control"
                                           placeholder="Authy Code..." autofocus required/>
                                </div>
                                <div class="input-group">
										<span class="input-group-addon">
										</span>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="id_is_personal" name="is_personal">
                                            Personal Computer?
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <p class="text-divider"><a href="{% url '2fa' %}?sms=yes">Send SMS instead?</a></p>
                            <div class="footer text-center">
                                <input type="submit" class="btn btn-simple btn-primary btn-lg" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer navbar-fixed-bottom">
            <div class="container">
                <p class="copyright pull-right">
                    &copy; 2017 <a href="https://www.gollahalli.com">Akshay Raj Gollahalli</a> | Theme with <i
                        class="fa fa-heart heart" style="color: red"></i> by <a
                        href="https://www.creative-tim.com">Creative Tim</a>
                </p>
            </div>
        </footer>

    </div>

</div>


</body>
<!--   Core JS Files   -->
<script src="{% static 'js/editor/jquery-1.10.2.js' %}" type="text/javascript"></script>
<script src="{% static 'js/editor/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/login/material.min.js' %}"></script>
<script src="{% static 'js/login/material-kit.js' %}"></script>
</html>