{% load staticfiles %}
<!DOCTYPE html>
<html lang='en' >
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        {{ content.get_meta|safe }}
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>{{ content.get_name }}</title>


		<!--=============================================
			CSS Stylesheets
		=============================================-->
		<link rel='stylesheet' type='text/css' href='{% static 'bootstrap/css/bootstrap.min.css' %}' >
		<link rel='stylesheet' type='text/css' href='{% static 'css/ionicons.min.css' %}' >
		<link rel='stylesheet' type='text/css' href='{% static 'css/linea.css' %}' >
		<link rel='stylesheet' type='text/css' href='{% static 'css/magnific-popup.css' %}' >
		<link rel='stylesheet' type='text/css' href='{% static 'css/owl.carousel.css' %}' >
		<link rel='stylesheet' type='text/css' href='{% static 'css/style.css' %}' >

	</head>

    {% block body %}
    {% endblock %}

		<!--=============================================
			JavaScript Files
		=============================================-->
		<script src='{% static 'js/jquery.min.js' %}' ></script>
		<script src='{% static 'js/jquery.shuffle.min.js' %}' ></script>
		<script src='{% static 'js/jquery.magnific-popup.min.js' %}' ></script>
		<script src='{% static 'js/fitvids.js' %}' ></script>
		<script src='{% static 'js/owl.carousel.min.js' %}' ></script>
		<script src='{% static 'js/validator.min.js' %}' ></script>
		<script src='{% static 'js/script.js' %}' ></script>

	</body>
</html>