{% extends 'admin_base.html' %}
{% load staticfiles %}
{% load nav_tags %}
{% load model_tags %}

{% block nav %}
    <li {% if request.path|has_string_in_path:'content,meta' %}
        class="active"
    {% endif %}>
        <a data-toggle="collapse" href="#editorOverview" class="collapsed"
                {% if request.path|has_string_in_path:'content,meta' %}
           aria-expanded="true"
                {% else %}
           aria-expanded="false"
                {% endif %}>
            <i class="ti-user"></i>
            <p>Editor
                <b class="caret"></b>
            </p>
        </a>
        <div
                {% if request.path|has_string_in_path:'content,meta,education,project,tutorial,experience,skills,publication' %}
                    class="collapse in" aria-expanded="true"
                {% else %}
                    class="collapse" aria-expanded="false"
                {% endif %}
                    id="editorOverview">
            <ul class="nav">
                <li {% if request.path|has_string_in_path:'content' %}class="active" {% endif %}>
                    <a href="{% url 'content_home' %}">
                        <span class="sidebar-mini">MC</span>
                        <span class="sidebar-normal">Main Content</span>
                    </a>
                </li>
                {% contentmodelexist ContentModel %}
                    <li {% if request.path|has_string_in_path:'education' %}class="active" {% endif %}>
                        <a href="{% url 'education_home' %}">
                            <span class="sidebar-mini">ED</span>
                            <span class="sidebar-normal">Education Content</span>
                        </a>
                    </li>
                    <li {% if request.path|has_string_in_path:'project' %}class="active" {% endif %}>
                        <a href="{% url 'project_home' %}">
                            <span class="sidebar-mini">PJ</span>
                            <span class="sidebar-normal">Project Content</span>
                        </a>
                    </li>
                    <li {% if request.path|has_string_in_path:'tutorial' %}class="active" {% endif %}>
                        <a href="{% url 'tutorial_home' %}">
                            <span class="sidebar-mini">TU</span>
                            <span class="sidebar-normal">Tutorial Content</span>
                        </a>
                    </li>
                    <li {% if request.path|has_string_in_path:'experience' %}class="active" {% endif %}>
                        <a href="{% url 'experience_home' %}">
                            <span class="sidebar-mini">EX</span>
                            <span class="sidebar-normal">Experience Content</span>
                        </a>
                    </li>
                    <li {% if request.path|has_string_in_path:'skills' %}class="active" {% endif %}>
                        <a href="{% url 'skills_home' %}">
                            <span class="sidebar-mini">SK</span>
                            <span class="sidebar-normal">Skills Content</span>
                        </a>
                    </li>
                    <li {% if request.path|has_string_in_path:'publication' %}class="active" {% endif %}>
                        <a href="{% url 'publication_home' %}">
                            <span class="sidebar-mini">PB</span>
                            <span class="sidebar-normal">Publication Content</span>
                        </a>
                    </li>
                {% endcontentmodelexist %}

                <li {% if request.path|has_string_in_path:'meta' %}class="active" {% endif %}>
                    <a href="{% url 'meta_home' %}">
                        <span class="sidebar-mini">ME</span>
                        <span class="sidebar-normal">Meta</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li {% if request.path|has_string_in_path:'profile,user' %}
        class="active"
    {% endif %}>
        <a data-toggle="collapse" href="#userOverview" class="collapsed"
                {% if request.path|has_string_in_path:'profile' %}
           aria-expanded="true"
                {% else %}
           aria-expanded="false"
                {% endif %}>
            <i class="ti-user"></i>
            <p>User
                <b class="caret"></b>
            </p>
        </a>
        <div id="userOverview"
                {% if request.path|has_string_in_path:'user' %}
             class="collapse in" aria-expanded="true"
                {% else %}
             class="collapse" aria-expanded="false"
                {% endif %}>
            <ul class="nav">
                <li {% if request.path|has_string_in_path:'profile' %}class="active" {% endif %}>
                    <a href="{% url 'profile_home' %}">
                        <span class="sidebar-mini">UP</span>
                        <span class="sidebar-normal">Update Profile</span>
                    </a>
                </li>
                <li {% if request.path|has_string_in_path:'2fa' %}class="active" {% endif %}>
                    <a href="{% url '2fa_home' options='none' %}">
                        <span class="sidebar-mini">2FA</span>
                        <span class="sidebar-normal">Two-Factor Auth</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
{% endblock %}

{% block page_title %}
    <a class="navbar-brand" href="{% url 'portal_home' %}">Portal</a>
{% endblock %}

{% block content %}

{% endblock %}