{% load staticfiles %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}"/>
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{% static 'img/favicons/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img/favicons/favicon-152.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/favicons/favicon-144.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'img/favicons/favicon-120.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/favicons/favicon-114.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{% static 'img/favicons/favicon-180.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/favicons/favicon-72.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/favicons/favicon-57.png' %}">
    <link rel="icon" href="{% static 'img/favicons/favicon-32.png' %}" sizes="32x32">

    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'img/favicons/favicon-144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}">
    <link rel="icon" sizes="192x192" href="{% static 'img/favicons/favicon-192.png' %}">

    {% if user.is_authenticated %}
        <title>Welcome {{ user.get_full_name }}</title>
    {% else %}
        <title>Welcome</title>
    {% endif %}

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'css/editor/css/bootstrap.min.css' %}" rel="stylesheet"/>

    <!-- Animation library for notifications   -->
    <link href="{% static 'css/editor/css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'css/editor/css/light-bootstrap-dashboard.css' %}" rel="stylesheet"/>


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/editor/css/pe-icon-7-stroke.css' %}" rel="stylesheet"/>

    <style type="text/css" media="screen">
        .ace_editor {
            position: relative !important;
            border: 1px solid lightgray !important;
            margin: auto !important;
            height: 500px !important;
            width: 80% !important;
        }

        .ace_editor.fullScreen {
            height: auto !important;
            width: auto !important;
            border: 0 !important;
            margin: 0 !important;
            position: fixed !important;
            top: 0 !important;
            bottom: 0 !important;
            left: 0 !important;
            right: 0 !important;
            z-index: 10 !important;
        }

        .fullScreen {
            overflow: hidden !important;
        }

        .scrollmargin {
            height: 500px !important;
            text-align: center !important;
        }
    </style>
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue">

        <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    {{ website_name }}
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <i class="pe-7s-graph"></i>
                        <p>Content</p>
                    </a>
                </li>
                {#                <li>#}
                {#                    <a href="user.html">#}
                {#                        <i class="pe-7s-user"></i>#}
                {#                        <p>User Profile</p>#}
                {#                    </a>#}
                {#                </li>#}
                {#                <li class="active">#}
                {#                    <a href="table.html">#}
                {#                        <i class="pe-7s-note2"></i>#}
                {#                        <p>Table List</p>#}
                {#                    </a>#}
                {#                </li>#}
                {#                <li>#}
                {#                    <a href="typography.html">#}
                {#                        <i class="pe-7s-news-paper"></i>#}
                {#                        <p>Typography</p>#}
                {#                    </a>#}
                {#                </li>#}
                {#                <li>#}
                {#                    <a href="icons.html">#}
                {#                        <i class="pe-7s-science"></i>#}
                {#                        <p>Icons</p>#}
                {#                    </a>#}
                {#                </li>#}
                {#                <li>#}
                {#                    <a href="maps.html">#}
                {#                        <i class="pe-7s-map-marker"></i>#}
                {#                        <p>Maps</p>#}
                {#                    </a>#}
                {#                </li>#}
                {#                <li>#}
                {#                    <a href="notifications.html">#}
                {#                        <i class="pe-7s-bell"></i>#}
                {#                        <p>Notifications</p>#}
                {#                    </a>#}
                {#                </li>#}
                {#                <li class="active-pro">#}
                {#                    <a href="upgrade.html">#}
                {#                        <i class="pe-7s-rocket"></i>#}
                {#                        <p>Upgrade to PRO</p>#}
                {#                    </a>#}
                {#                </li>#}
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Content</a>
                </div>
                <div class="collapse navbar-collapse">
                    {#                    <ul class="nav navbar-nav navbar-left">#}
                    {#                        <li>#}
                    {#                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                    {#                                <i class="fa fa-dashboard"></i>#}
                    {#                            </a>#}
                    {#                        </li>#}
                    {#                        <li class="dropdown">#}
                    {#                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                    {#                                <i class="fa fa-globe"></i>#}
                    {#                                <b class="caret"></b>#}
                    {#                                <span class="notification">5</span>#}
                    {#                            </a>#}
                    {#                            <ul class="dropdown-menu">#}
                    {#                                <li><a href="#">Notification 1</a></li>#}
                    {#                                <li><a href="#">Notification 2</a></li>#}
                    {#                                <li><a href="#">Notification 3</a></li>#}
                    {#                                <li><a href="#">Notification 4</a></li>#}
                    {#                                <li><a href="#">Another notification</a></li>#}
                    {#                            </ul>#}
                    {#                        </li>#}
                    {#                        <li>#}
                    {#                            <a href="">#}
                    {#                                <i class="fa fa-search"></i>#}
                    {#                            </a>#}
                    {#                        </li>#}
                    {#                    </ul>#}

                    <ul class="nav navbar-nav navbar-right">
                        {#                        <li>#}
                        {#                            <a href="">#}
                        {#                                Account#}
                        {#                            </a>#}
                        {#                        </li>#}
                        {#                        <li class="dropdown">#}
                        {#                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                        {#                                Dropdown#}
                        {#                                <b class="caret"></b>#}
                        {#                            </a>#}
                        {#                            <ul class="dropdown-menu">#}
                        {#                                <li><a href="#">Action</a></li>#}
                        {#                                <li><a href="#">Another action</a></li>#}
                        {#                                <li><a href="#">Something</a></li>#}
                        {#                                <li><a href="#">Another action</a></li>#}
                        {#                                <li><a href="#">Something</a></li>#}
                        {#                                <li class="divider"></li>#}
                        {#                                <li><a href="#">Separated link</a></li>#}
                        {#                            </ul>#}
                        {#                        </li>#}

                        {% if user.is_authenticated %}
                            <li>
                                <a>Welcome, {{ user.get_full_name }}</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">Log Out</a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Your JSON Content</h4>
                                <p class="category">Any updates will reflect on your website, make sure you know what
                                    you are doing.</p>
                                <p class="category">Last updated: {{ updated }}</p>
                            </div>
                            <div class="content">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form | crispy }}
                                    <p><input class="button" type="submit" value="Update"/></p>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2017 <a href="https://www.gollahalli.com">Akshay Raj Gollahalli</a> | Theme with <i
                        class="fa fa-heart heart" style="color: red"></i> by <a
                        href="https://www.creative-tim.com">Creative Tim</a>
                </p>
            </div>
        </footer>


    </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="{% static 'js/editor/jquery-1.10.2.js' %}" type="text/javascript"></script>
<script src="{% static 'js/editor/bootstrap.min.js' %}" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="{% static 'js/editor/bootstrap-checkbox-radio-switch.js' %}"></script>

<!--  Charts Plugin -->
<script src="{% static 'js/editor/chartist.min.js' %}"></script>

<!--  Notifications Plugin    -->
<script src="{% static 'js/editor/bootstrap-notify.js' %}"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="{% static 'js/editor/light-bootstrap-dashboard.js' %}"></script>


<script src="{% static 'js/ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/ace/theme-chrome.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/ace/mode-json.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/ace/worker-json.js' %}" type="text/javascript" charset="utf-8"></script>
<script>

    {#    var $ = document.getElementById.bind(document);#}
    var dom = require("ace/lib/dom");
    var json_data = {{ content | safe }};

    //add command to all new editor instaces
    require("ace/commands/default_commands").commands.push({
        name: "Toggle Fullscreen",
        bindKey: "F11",
        exec: function (editor) {
            var fullScreen = dom.toggleCssClass(document.body, "fullScreen");
            dom.setCssClass(editor.container, "fullScreen", fullScreen);
            editor.setAutoScrollEditorIntoView(!fullScreen);
            editor.resize();
        }
    });

    $(function () {
        $('textarea[data-editor]').each(function () {
            var textarea = $(this);
            var mode = textarea.data('editor');
            var editDiv = $('<div>', {
                position: 'absolute',
                width: textarea.width(),
                height: textarea.height(),
                'class': textarea.attr('class')
            }).insertBefore(textarea);
            textarea.css('visibility', 'hidden');
            var editor = ace.edit(editDiv[0]);
            editor.renderer.setShowGutter(textarea.data('gutter'));
            editor.getSession().setValue(textarea.val());
            editor.getSession().setMode("ace/mode/" + mode);
            editor.setTheme("ace/theme/chrome");
            editor.renderer.setScrollMargin(10, 10);
            editor.setOptions({
                "scrollPastEnd": 0.8,
                "wrap": true
            });
            editor.$blockScrolling = Infinity;

            {#            console.log(isJSON(json_data));#}

            editor.setValue(JSON.stringify(json_data, null, '\t'), -1);

            // copy back to textarea on form submit...
            textarea.closest('form').submit(function () {
                textarea.val(editor.getSession().getValue());
            })
        });
    });
</script>

</html>
